---
layout: default
---
<!-- Posts -->
<ul id="posts">

<p>
Hi, I’m a bioinformatician and sysadmin currently living in the beautiful (and rather cold) city of Kingston, Ontario. 
This webpage is the current home of my resume, blog, and generally is intended to be the place to stay updated with all I do 
(probably the ravings of a madman, but there's potentially something useful in here).
</p>

<h2>Recent Posts</h2>

	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>

    {% endfor %}

</ul>
